<title>{{ site.Title }}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/w3.css">
<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/main.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<link rel="stylesheet" href="{{ site.baseurl }}/fonts/css/fontawesome-all.min.css">
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/main.js"></script>
{% if page.prism == true %}
<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/prism.css">
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/prism.js"></script>
{% else %}
<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/syntax_highlight.css">
{% endif %}
{% if page.MathJax == true %}
<script async="" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
{% endif %}
