<nav class="w3-sidebar w3-bar-block w3-{{ page.color | default: 'deep-orange' }} w3-animate-right w3-top w3-text-light-grey w3-large" style="z-index:4;width:250px;font-weight:bold;display:none;right:0;" id="mySidebar">
  <a href="javascript:void()" onclick="w3_close()" class="w3-bar-item w3-button w3-center"><span class="w3-left" style="font-size:35px">&times;</span></a>
  {% for y in site.data.navbar %}
  <a href="{{ y.link }}" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16"><i class="{{ y.icon }}"></i> {{ y.menu }}</a>
  {% endfor %}
</nav>
