<span class="w3-right w3-button">
    <a href="javascript:void(0)" title="or press '/' to search" onclick="toggleSearch()" class="search-btn">
<i class="fas fa-search"></i>
    </a>
  </span>
 <div class="search" id="js-search">
      <a href="javascript:void(0)" onclick="toggleSearch()" class="search__close-btn">
         <i class="fas fa-2x fa-times" style="margin-top:20px"></i>
      </a>
      <input type="text" placeholder="Search..." class="search__input" id="js-search__input">
      <ul class="search__results" id="js-search__results"></ul>
</div> 
