@media only screen and (min-width : 768px) {
.container {
    width: 200px;
    height: 120px;
    float: left;
    margin: 10px 15px 5px 0px;
}

/* resize images */
.container img {
    width: 100%;
    height: auto;
}
}
/* super-search */
.search {
	position: fixed;
	background-color: rgba(102, 51, 153, 0.95);
	background-color: rgba(0, 191, 255, 0.85);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	color: beige;
	z-index: 1;
	transition: 0.2s ease;
	visibility: hidden;
	opacity: 0;
}
.search__close-btn {
	fill: #DDD;
	position: absolute;
	right: 10px;
	top: 15px;
	z-index: 1;
}
.search__input {
	border: 0;
	font-size: 50px;
	border-left: none;
	border-right: none;
	color: #999;
	width: 100%;
	padding: 10px 31px;
	text-align: center;
	transform: translateY(-100%);
	transition: 0.15s ease-out 150ms;
}
.is-active .search__input {
	transform: translateY(0);
}
.search__results {
	text-align: center;
	list-style: none;
	padding: 0;
	overflow-x: hidden;
	height: calc(100% - 110px);
	transition: 0.2s ease;
}
.search__results.is-hidden {
	opacity: 0;
	transform: translateY(-1vh);
}

.search__results > li > a {
	display: block;
	position: relative;
	background-color: #f9f9f9;
	color: #666;
	padding: 17px;
	margin: 12px 14px;
	box-shadow: 0 3px 4px rgba(0,0,0,0.1);
}
.search__result-date {
	color: #BBB;
	position: absolute;
	right: 12px;
}
.search.is-active {
	opacity: 1;
	visibility: visible;
}
/* Tags */
.taggs{list-style:none;margin:0;overflow:hidden;padding:0;}
.taggs li{float:left;}
.tagg{background:green;border-radius:3px 0 0 3px;color:#ffffff;display:inline-block;height:26px;line-height:26px;padding:0 20px 0 23px;position:relative;margin:0 10px 10px 0;text-decoration:none;-webkit-transition:color 0.2s;}
.tagg::before{background:#fff;border-radius:10px;box-shadow:inset 0 1px rgba(0, 0, 0, 0.25);content:'';height:6px;left:10px;position:absolute;width:6px;top:10px;}
.tagg::after{background:#fff;border-bottom:13px solid transparent;border-left:10px solid green;border-top:13px solid transparent;content:'';position:absolute;right:0;top:0;}
.tagg:hover{background-color:blue;color:white;}
.tagg:hover::after{border-left-color:blue;}
/* Notes */
.myNote {
	color:#555;
	padding:10px 36px;
        margin-bottom: 10px;
}
.myNote span {
	font-weight:bold;
	text-transform:uppercase;
}
.danger {
	background:#ffdddd url('../svg/cancel.svg') no-repeat 13px 13px;
	background-size: 18px 18px;
	border-left: 6px solid #f44336;
}
.success {
  	background:#ddffdd url('../svg/success.svg') no-repeat  13px 13px;	
  	background-size:18px 18px;
  	border-left: 6px solid #4CAF50;
}
.warning {
	background:#ffffcc url('../svg/warning.svg') no-repeat 13px 13px;
	background-size: 18px 18px;
	border-left:6px solid #ffeb3b;
}
.info {
	background:#e7f3fe url('../svg/bulb.svg') no-repeat 13px 13px;
	background-size: 18px 18px;
	border-left:6px solid #2196f3;
}
/* Lists */
dl,
ol,
ul {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}

dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
  font-size: 90%;
  margin: 1.5rem 0 1.5rem 3.0rem;
}

ol {
  list-style: decimal inside;
}

ul {
  list-style: circle inside;
}
/* HyperLinks */
#myLink a[target="_blank"]:after {
  content: "\f35d";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin: 0 0 0 5px;
}
#myLink a:link{
    color: blue; 
    background-color: transparent; 
    text-decoration: none;
    border-bottom: 1px solid red;
}

#myLink a:visited {
    color: hotpink;
    background-color: transparent;
    text-decoration: none;
}

#myLink a:hover {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

#myLink a:active {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
  }
#myLink img{
   text-decoration: none;
}
.splash-container {
    z-index: -1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    position: fixed !important;
    background: #1f8dd6;
    background-repeat: no-repeat;
    background-size: cover;
}
.splash {
    /* absolute center .splash within .splash-container */
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px; left: 0; bottom: 0; right: 0;
    text-align: center;
}
/* This is the main heading that appears on the blue section */
.splash-head {
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: 3px solid white;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
    padding: 10px;
}
.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 52%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;

}
.content-head {
    font-weight: 800;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}

.content {
  background: white;
}
@media (min-width: 1281px){
    .splash-container {
    z-index: -1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 87%;
    top: 0;
    left: 0;
    position: fixed !important;
    background: #1f8dd6;
    background-repeat: no-repeat;
    background-size: cover;
 }
    .content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 89%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;

}
}
/* Video and figure */
.video-responsive {
  display: block;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}

.video-responsive::before {
  content: "";
  display: block;
  padding-bottom: 56.25%;
}

.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
  border: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

video.video-responsive {
  height: auto;
  max-width: 100%;
}

video.video-responsive::before {
  content: none;
}

.video-responsive-4-3::before {
  padding-bottom: 75%;
}

.video-responsive-1-1::before {
  padding-bottom: 100%;
}

.figure {
  margin: 0 0 .4rem 0;
}

.figure .figure-caption {
  color: #667189;
  margin-top: .4rem;
}
.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.embed-responsive::before {
  display: block;
  content: "";
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-21by9::before {
  padding-top: 42.857143%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}
