<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    </head>
  <body>
    {% include navbar.html %}
    {% include header.html %}
<div class="w3-row-padding w3-padding-64 w3-container" style="margin-top: 75px">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1 class="w3-text-{{ page.color | default: 'deep-orange' }}">{{ page.title }}</h1>
      {{ content }}
      <!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-6t+ed+2i-1n-4w"
     data-ad-client="ca-pub-7300212199014697"
     data-ad-slot="3526885501"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script> -->
    </div>
    <div class="w3-third w3-container w3-content w3-hide-small">
      {% include about_me.html %}
    </div>
  </div>
</div>
    {% include footer.html %}
    <script src="{{ site.baseurl }}/assets/js/super-search.min.js"></script>
</body>
  </html>
