---
layout: default
---

    <h1 class="w3-xlarge">Articles by category: {{ page.categories }}</h1>
    <hr />
    {% for category in site.categories %}
        {% capture category_slug %}{{ category | first }}{% endcapture %}
        {% for c_slug in category_slug %}
            {% if c_slug == page.categories %}
                <button class="w3-button w3-red w3-ripple">{{ c_slug }}</button>
            {% else %}
                <a href="{{site.baseurl}}/category/{{ c_slug }}" class="w3-button w3-red w3-ripple w3-hover-green">{{ c_slug }}</a>
            {% endif %}
        {% endfor %}
    {% endfor %}
    <hr />
    <div class="w3-row">
    {% if site.categories[page.categories] %}
        {% for post in site.categories[page.categories] %}
  <div class="w3-card-4 w3-margin">
     <div class="w3-display-container w3-hover-opacity">
         <img src="{{ site.baseurl }}{{ post.img }}" alt="post-image" style="width:100%">
           <div class="w3-display-middle w3-display-hover w3-text-white">
           Category: <span class="w3-tag">
          <a href="{{ site.baseurl }}/category/{{ post.category }}">{{ post.category }}</a>
      </span>
  </div>
 </div>
 <div class="w3-container">
    <h3><b>{{ post.title }}</b></h3>
      {% capture post_year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% if forloop.first %}
      {% endif %} 
            {% if forloop.first == false %}
                {% assign previous_index = forloop.index0 | minus: 1 %}
                {% capture previous_post_year %}{{ site.categories[page.categories][previous_index].date | date: '%Y' }}{% endcapture %}
                {% if post_year != previous_post_year %}
                {% endif %}
            {% endif %}
           <span class="w3-opacity"><i class="fa fa-calendar" aria-hidden="true"></i> Posted on {{ post.date | date_to_string }}
             </span>
            <p>{{ post.content | strip_html | truncatewords: 40 }}</p>
            <a href="{{ post.url |prepend:site.baseurl }}" class="w3-button w3-black">Read More</a>
          </div>
      </div>
{% endfor %}
</div>                                                                      
    {% else %}
<p>There are no posts in this categories.</p>
    {% endif %}
